{
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "tabWidth": 2,
  "endOfLine": "lf",
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "always",
  "experimentalTernaries": true,
  "singleQuote": true
}
